<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th></th>
    </tr>
    <% @blogs.each do |blog| %>
    <tr>
        <td><%= blog.id %></td>
        <td>
            <%= link_to blog.title, blog_path(blog) %>  
            <% blog.tags.each do |tag| %>
                <span class="badge bg-secondary"><%= tag.title %></span>
            <% end %>
        </td>
        <td><%= blog.user.username %></td>
        <td>
            <% if blog.user == current_user %>
                <span class="<%= blog.is_public ? 'text-success' : 'text-danger' %>">
                <%= blog.is_public ? "show" : "hide" %>
                </span>

                <%= link_to "edit", edit_blog_path(blog), class: "btn btn-primary btn-sm" %>
            <% end %>
        </td>

    </tr>
    <% end -%>
</table>

<%= will_paginate @blogs %>