<h1>Blogs</h1>

<div>
  <%= link_to "Create a blog", new_blog_path, class: "btn btn-primary" %>
  <% if logged_in? %>
    <%= link_to "My blog", blogs_user_path(current_user), class: "btn btn-primary" %>
  <% end -%>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.id %></td>
          <td>
            <%= link_to blog.title, blog_path(blog) %>  
          </td>
          <td><%= blog.user.username %></td>
        </tr>
      <% end -%>
    </table>

    <%= will_paginate @blogs %>
  </div>
</div>